.button_class {
    background-color: $btn-bg-color;
    color: #FFFFFF;
    border-radius: 3px;
    border: 0;
    padding: 12px 15px 15px 12px;
    min-width: 110px;
    font-family: "SegoeUI SemiBold";
    font-size: 16px;

}